"*":
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    telemetryConsent: "limited"
    themes: [
      "isotope-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontFamily: "verdana"
    fontSize: 16
    tabLength: 3
  "exception-reporting":
    userId: "c6a534f0-9b37-4f59-a105-6fadec89b8de"
  "git-plus":
    remoteInteractions:
      pullBeforePush: true
  "gpp-compiler":
    cppCompilerOptions: "-std=c++14"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  "highlight-selected":
    lightTheme: true
  "isotope-ui":
    fontFamily: "Roboto"
    lowContrastTooltip: true
    minimalMode: true
  "linter-ui-default":
    panelHeight: 79
  "split-diff":
    colors:
      addedColor: "#22c373"
      removedColor: "#df1414"
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".js.source":
  editor:
    showIndentGuide: true
